@import "../../index.css";

.navbar {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    color: var(--primaryColor);
    font-weight: 500;

    & .navLink {
        color: #747474;

        &:nth-of-type(1) {
            color: var(--primaryColor);
        }
    }

    & .buttonRegister {
        border: 2px solid var(--primaryColor);
        color: var(--primaryColor);
    }

    & .buttonLogin {
        background-color: var(--primaryColor);
        color: var(--dark);
    }
}


:root[data-theme="dark"] {
    --light: #080903;
    --dark: #fff;

    & .buttonLogin {
        color: #fff;
    }
}