:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--light);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primaryColor: #DF430F;
  --light: #fff;
  --dark: #000;
}

:root[data-theme="dark"] {
  --light: #080903;
  --dark: #fff;

  & homeContainer {
    display: none;

    & .bannerBackground {
      padding: 1rem;
      background-color: red;
      background-image: url("../../assets/banner.png");
      min-height: 90svh;
      border-radius: 1rem;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
  }
}