@import "../../index.css";


/* Default Styles */
.sectionHeader {
    margin: 2rem 0 1rem 0;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    width: 100%;
    align-items: stretch;
}

.sectionHeader .sectionTitle {
    font-size: 3rem;
    font-weight: 600;

}

.sectionHeader .sectionLine {
    position: relative;
    flex: 1;


    &::after {
        position: absolute;
        content: ' ';
        width: 100%;
        height: .5rem;
        background-color: var(--primaryColor);
        top: 50%;
        transform: translateY(-50%);
    }
}

/* Home Styles */
.heroContainer {
    position: relative;
    display: grid;
    height: 100svh;

    & img {
        z-index: 1;
        filter: brightness(70%);
    }

    & .heroBanner {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
    }

    & .heroContent {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        & .bbb {
            padding: 1rem;
            color: var(--light);
            z-index: 2;
        }

        & .ccc {
            padding: 1rem;
            max-height: 70%;
            height: 100%;
            overflow: hidden;
            margin-top: auto;
            background-color: red;
        }
    }
}

.tourContent {
    & .card {
        background-color: red;
    }
}


& .card {
    padding: 1rem;
    border: 4px solid var(--primaryColor);
    border-radius: 1rem;
}


.packagesContainer {
    & .card {
        min-height: 600px;
    }
}

.aboutContainer {
    & .aboutCaption {
        & .text {
            max-width: 600px;
        }
    }

    & .aboutBanner {
        background: rgba(0, 0, 0, 0.55);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 20px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-shadow:
            0 8px 16px rgba(0, 0, 0, 0.1),
            inset 0 1px 0 rgba(255, 255, 255, 0.5),
            inset 0 -1px 0 rgba(255, 255, 255, 0.1),
            inset 0 0 10px 5px rgba(255, 255, 255, 1);
        position: relative;
        overflow: hidden;
    }
}


@media (min-width: 1024px) {
    .heroContainer {
        position: relative;
        display: grid;
        height: 90svh;

        & .heroBanner {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            bottom: 0;
        }

        & .heroContent {
            padding: 2rem;
            display: grid;
            grid-template-columns: 6fr 12fr;
            background-color: red;

            & .bbb {
                width: 100%;
                border: 4px solid var(--primaryColor);
                color: var(--light);
            }

            & .ccc {
                max-height: 70%;
                height: 100%;
                overflow: hidden;
                margin-top: auto;
            }
        }
    }

    .tourContent {
        padding: 4rem;


        & .card {
            position: relative;
            padding: 1rem;
            border-radius: 1rem;
        }

        & .card:nth-child(odd) {
            background: #EA5C06;
            transform: rotate(10deg);
        }

        & .card:nth-child(even) {
            background: #5c5c5c;
            transform: rotate(-10deg) translateY(30px);
        }
    }

    .aboutContainer {
        & img {
            max-width: 768px;
        }
    }
}