@import "../../index.css";

.homeContainer {

    & .bannerBackground {
        padding: 1rem;
        background-color: red;
        background-image: url("../../assets/banner.png");
        min-height: 90svh;
    }

    & .homeCaption {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 2rem;
        color: var(--primaryColor);
    }

    & .homeTitle {
        max-width: 760px;
        font-size: 4.5rem;
        text-transform: capitalize;
    }

    & .homeText {
        max-width: 760px;
        font-size: 1.1rem;
        font-weight: 500;
    }

    & .homeButton {
        background-color: var(--primaryColor);
    }
}