@import "../../index.css";

.homeContainer {

    & .bannerBackground {
        background-image: url("../../assets/banner.png");
        min-height: 90svh;
        border-radius: 1rem;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        background-size: cover;
    }

    & .homeCaption {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 2rem;
        color: var(--primaryColor);
    }

    & .homeTitle {
        max-width: 760px;
        font-size: clamp(2rem, 5vw, 4.5rem);
        text-transform: capitalize;
    }

    & .homeText {
        max-width: 760px;
        font-size: 1.1rem;
        font-weight: 500;
    }

    & .homeButton {
        background-color: var(--primaryColor);
    }
}

& .card {
    padding: 1rem;
    background-color: var(--primaryColor);
    border-radius: 1rem;
}


.container {
    padding: 2rem;
    display: grid;
    grid-template-columns: 4fr 12fr;
    background-color: red;
    height: 90svh;

    & .bbb {
        width: 100%;
        background-color: gold;
    }

    & .ccc {
        max-height: 800px;
        overflow: hidden;
    }
}