.homeContainer {
    min-height: 95svh;
    background-image: url("../../assets/banner.png");

    & .homeCaption {
        padding: 2rem;
    }

    & .homeTitle {
        max-width: 760px;
        font-size: 4.5rem;
        color: #DF430F;
        text-transform: capitalize;
    }

    & .homeText {
        max-width: 760px;
        color: #DF430F;
        text-transform: capitalize;
    }
}