body {
    background: #000;
    font-family:
        Helvetica Neue,
        Helvetica,
        Arial,
        sans-serif;
    font-size: 14px;
    color: #fff;
    margin: 0;
    padding: 0;
}

.mySwiper {
    width: 100%;
    height: 100svh;
    background-color: red;
}

.swiperSlider {
    text-align: center;
    font-size: 18px;
    background: #444;
    height: 100%;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

.swiperSlider img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}