.mySwiper {
    width: 100%;
    height: 300px;
}

.swiperSlider {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
}